/* body,
 .nav-menu div,
 .nav-menu a, header h3, button, img, p{
     border: 2px solid red;
 }  */
 
 @media only screen and (max-width: 767px) {
    .hidden-menu{
        display: block;
    }
     .nav-menu a {
         display: none;
     }
     .mens-outerwear img {
        height: 200px !important;
    }
    .ladies-outerwear img {
        height: 200px !important;
    }

 }
 @media only screen and (min-width: 768px) {

    .hidden-menu{
        visibility: hidden;
    }
}
 body{
    margin: 0;
}
 .shop {
     display: flex;
     justify-content: space-between;
     font-family: 'Roboto', sans-serif;
     margin: 1.5em 1.5em 0 1.5em;
 }
 .shop-title{
     letter-spacing: 0.4em;
    align-self: center;
}

 .cart-button img {
     width: 25px;
 }
 .nav-menu {
     display: flex;
     padding: 1.5em;
     justify-content: center;
     font-family: 'Roboto', sans-serif;
     font-size: 0.8em;
 }

 .nav-menu a {
     flex-basis: 150px;
 }

 .mens-outerwear {
     display: flex;
     flex-direction: column;
     padding-bottom: 2em;
 }

 .mens-outerwear img {
     width: 100%;
     padding-bottom: 1em;
     object-fit: cover;
     height: 300px;
 }

 .mens-outerwear p {
     align-self: center;
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     padding-bottom: 1em;
 }

 .mens-outerwear button {
     align-self: center;
     background-color: white;
     border: 2px solid black;
     width: 12em;
     height: 3em;
 }

 .ladies-outerwear {
     display: flex;
     flex-direction: column;
     padding-bottom: 2em;
 }

 .ladies-outerwear img {
     width: 100%;
     padding-bottom: 1em;
     object-fit: cover;
     height: 300px;
 }

 .ladies-outerwear p {
     align-self: center;
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     padding-bottom: 1em;
 }

 .ladies-outerwear button {
     align-self: center;
     background-color: white;
     border: 2px solid black;
     width: 12em;
     height: 3em;
 }

  .tshirts{
    display: flex;
} 
 .mens-tshirts {
     display: flex;
     flex-direction: column;
     padding-bottom: 2em;
 }

 .mens-tshirts img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     padding-bottom: 1em;
}

 .mens-tshirts p {
     align-self: center;
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     padding-bottom: 1em;
 }

 .mens-tshirts button {
     align-self: center;
     background-color: white;
     border: 2px solid black;
     width: 12em;
     height: 3em;
 }

 .ladies-tshirts {
     display: flex;
     flex-direction: column;
     padding-bottom: 2em;
 }

 .ladies-tshirts img {
     width: 100%;
     height: 300px;
     object-fit: cover;
     padding-bottom: 1em;
 }

 .ladies-tshirts p {

     align-self: center;
     font-family: 'Roboto', sans-serif;
     font-size: 1em;
     padding-bottom: 1em;
 }

 .ladies-tshirts button {
     align-self: center;
     background-color: white;
     border: 2px solid black;
     width: 12em;
     height: 3em;
 }
 footer{
     display: flex;
     flex-direction: column;
     font-family: 'Roboto', sans-serif;
     padding-top: 2em; 
 }
 footer a{
     align-self: center;
 }
 footer button{
    align-self: center;
    background-color: black;
    color: white;
    width: 8em;
    height: 2em; 
 }
 